<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.serch.mapper.Mapper">
    <insert id="Saveadd">
        INSERT INTO news(_id,来源网站,网址,分类,金融分类,下载日期,发布日期,标题,转自,原标题,编辑记者,原网站链接,extra_info,摘要,文本内容,网页源码) VALUES
        <foreach collection="list" index="index" item="userinfo" open="(" separator="," close=")">
            (#{userinfo.id}, #{userinfo.sourceSite}, #{ userinfo.internetSite}, #{userinfo.classification},
            #{userinfo.financialClassification}, #{userinfo.downloadDate}, #{userinfo.releaseDate}, #{userinfo.title},
            #{userinfo.transferFrom}, #{userinfo.originalTitle}, #{userinfo.editingReporter}, #{userinfo.originalWebsiteLink},
            #{userinfo.extrainfo}, #{userinfo.summary}, #{userinfo.textContent}, #{userinfo.webPageSourceCode})
        </foreach>
    </insert>


</mapper>